<template>
  <div>
    <navbar />
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Categories</h1>
            </div>
          </div>
          <div class="card">
            <div class="card-header">
              <div class="card-tools">
                <router-link tag="a" :to="{ name: 'categories-add'}">
                  <button type="button" class="btn btn-block btn-primary">Add Category</button>
                </router-link>
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table class="table table-bordered">
                <thead>
                <tr>
                  <th style="width: 10px">#</th>
                  <th>Title</th>
                  <th>Description</th>
                  <th style="width: 40px">Actions</th>
                </tr>
                </thead>
                <tbody>

                <tr v-for="category in categories" :key="category.id">
                  <td>1.</td>
                  <td>{{ category.title }}</td>
                  <td>{{ category.description }}</td>
                  <td>
                    <button v-on:click="deleteCategory(category.id)" type="button" class="btn btn-block btn-danger">Delete</button>
                    <button v-on:click="editCategoryPage(category)" type="button" class="btn btn-block btn-info">Edit</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    </div>
    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
  </div>
</template>

<script>

import Navbar from "../components/Navbar";
import {mapGetters} from 'vuex'

export default {
  name: "CategoryList",
  components: {Navbar},
  data() {
    return {
    }
  },
  computed: {
    ...mapGetters({
      categories: 'getCategories',
    }),
  },
  created() {
    this.$store.dispatch('fetchCategories');
  },
  methods: {
    deleteCategory(id) {
      this.$store.dispatch('fetchCategories', id).then(() => {
        this.$store.dispatch('fetchCategories');
      });
    },
    editCategoryPage(category) {
      this.$router.push({
        name: 'categories-edit',
        params: {
         id: category.id, category: category,
        },
      })
    }
  }
}
</script>

<style scoped>

</style>