<template>
  <div>
    <navbar />
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Content Header (Page header) -->
      <section class="content-header">
        <div class="container-fluid">
          <div class="row mb-2">
            <div class="col-sm-6">
              <h1>Edit Category</h1>
            </div>
          </div>
          <div class="card">
            <!-- /.card-header -->
            <div class="card-body">
              <div class="form-group">
                <label>Title</label>
                <input type="text"  v-model="title" class="form-control" placeholder="Title">
              </div>

              <div class="form-group">
                <label>Description</label>
                <input type="text" v-model="description" class="form-control"  placeholder="Description">
              </div>
            </div>
            <div class="card-footer">
              <button v-on:click="saveCategory" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div><!-- /.container-fluid -->
      </section>
    </div>


    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
      <!-- Control sidebar content goes here -->
    </aside>
  </div>
</template>

<script>
import Navbar from "../components/Navbar";

export default {
  name: "EditCategory",
  components: {Navbar},
  props: ['category'],
  data() {
    return {
      title: this.category.title,
      description: this.category.description,
    }
  },
  methods: {
    saveCategory() {
      if(this.isValid()) {
        this.$store.dispatch('editCategory', {
          title: this.title,
          description: this.description,
          id: this.$route.params.id,
        }).then(() => {
          this.$router.push({name: 'categories'})
        })
      }
    },
    isValid() {
      return !(this.isEmpty(this.title) || this.isEmpty(this.description));
    },
    isEmpty(str) {
      return (!str || str.length === 0 );
    },
  }
}
</script>

<style scoped>

</style>